body{
    font-size: 10pt;
    color: rgb(218, 218, 218);
    background-color: rgb(27, 29, 36);
    font-family: 'Consolas';
    display: block;
}
#xml-node-wrapper{
    display: block;
}

#xml-tag-name{
    color: rgb(252, 124, 65);
}

#xml-attribute-wrapper{
    display: inline-block;
}

#xml-attribute-name{
    color: rgb(105, 169, 241);
}

#xml-attribute-value{
    color: rgb(250, 218, 128);
}

#xml-indent{
    margin-left: 40px;
    display: block;
}

#xml-text{
    color: rgb(218, 218, 218);
}

#xml-meta-text{
    color: rgb(252, 124, 65);
}

#xml-comment{
    color: rgb(47, 165, 53);
}